body {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-style: normal;
}

form,
main {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  text-align: center;
}

.quote {
  font-size: 45px;
}

.container {
  margin: 120px auto;
  max-width: 800px;
}

h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-size: 56px;
}
.first-color {
  color: #8b3c3c;
  text-align: center;
  text-shadow: #bb5a5a 80px;
}

.second-color {
  color: #eaceb4;
  text-align: center;
}

.third-color {
  color: #e79e85;
  text-align: center;
}

.fourth-color {
  color: #bb5a5a;
  text-align: left;
}

.instructions {
  border: 5px solid#f2e9d0;
  width: 50%;
  margin-bottom: 20px;
  font-size: 30px;
  color: #e79e85;
  border-radius: 50px;
}

.button {
  font-size: 30px;
  color: #eaceb4;
  margin-left: 10px;
  background-color: #bb5a5a;
  border: none;
  padding: 10px 10px;
  width: 150px;
  border-radius: 50px;
}

a {
  color: #e79e85;
}
